:root {
    --theme: #006d5b;
    --theme-fore: rgb(220, 220, 220);

    --fore: black;
    --back: white;
    --border: #aec8c9;
    color-scheme: light;

    --orientation: landscape;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fore: rgb(220, 220, 220);
        --back: rgb(30, 30, 30);
        --border: #353f40;
        color-scheme: dark;
    }
}

@media (width <=500px) {
    :root {
        --orientation: portrait;
    }
}

body {
    color: var(--fore);
    background-color: var(--back);
    margin: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13.5pt;

    height: 100dvh;
    width: 100dvw;

    transition: rotate 5s;

    &.doabarrelroll {
        rotate: 360deg;
    }
}

* {
    box-sizing: border-box;
}

a {
    color: color-mix(in srgb, rgb(0, 191, 255), var(--fore) 50%);
    text-decoration: underline;

    &:hover {
        text-decoration: underline dashed;
    }
}

.button {
    all: unset;
    background-color: var(--theme);
    padding: 10px;
    color: var(--theme-fore);

    --fi-size: 1.5em;
    --fi-isize: 1.4em;

    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;

    user-select: none;

    &:hover {
        background-color: color-mix(in srgb, var(--theme), var(--back) 10%);
    }

    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-grow {
    flex-grow: 1;
    width: 100%;
}

.warning-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    animation: warning-border-pulse 3s infinite;
}

@keyframes warning-border-pulse {
    0% {
        border-color: red;
    }

    50% {
        border-color: #ff6b6b;
    }

    100% {
        border-color: red;
    }
}

img[src^="/icons"] {
    filter: invert(1);
    display: grid;
    place-items: center;
    width: var(--fi-size, 1.2em);
    height: var(--fi-size, 1.2em);
    min-width: var(--fi-size, 1.2em);
    min-height: var(--fi-size, 1.2em);
    max-width: var(--fi-size, 1.2em);
    max-height: var(--fi-size, 1.2em);
}

@keyframes rotate {
    from {
        rotate: 0turn;
    }

    to {
        rotate: 1turn;
    }
}


main {
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

#main {
    width: 60%;
    height: 100%;
    width: auto;
    aspect-ratio: 1;

    &>* {
        border-radius: 5px;
    }
}

#side {
    flex: 1 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border);
}

@media (width <=900px) {
    main {
        flex-direction: column;
    }

    #main {
        width: 100%;
        height: auto;
        max-height: 70%;
    }
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    height: 100dvh;
    width: 100dvw;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px;

    background-color: var(--theme);
}

.menu-item {
    all: unset;
    background-color: var(--theme);
    padding: 10px;

    --fi-size: 1.5em;
    --fi-isize: 1.4em;

    cursor: pointer;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;

    &>span {
        display: none;
        font-size: 1.1em;
        font-weight: 600;

        .expanded & {
            display: block;
        }
    }

    &:hover {
        background-color: color-mix(in srgb, var(--theme), var(--back) 10%);
    }

    &.selected {
        background-color: color-mix(in srgb, var(--theme), var(--back) 30%);
    }
}

#page {
    width: 0;
    height: 100%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    background-color: var(--theme);
}

#main-content {
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    background-color: var(--back);
    border-top-left-radius: 10px;
    padding: 10px;
}

header {
    flex: 0 0;
    display: flex;
    height: fit-content;
    background-color: var(--theme);
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    grid-area: header;
    padding: 15px 10px;
    gap: 20px;

    &>h1 {
        all: unset;
        font-size: 1.5em;
        font-weight: bold;
        flex: 1 1;
    }
}

nav,
header {
    --fore: var(--theme-fore);
    color: var(--theme-fore);
}

#menu-button {
    display: none;
}

@media (width <=550px) {
    #menu-extend-button {
        display: none;
    }

    nav {
        position: absolute;
        translate: -110%;
        height: 100dvh;
        transition: translate 150ms;
        padding-top: 2.5em;
        min-width: 80dvw;
        gap: 0.5em;
        box-shadow: 0 0 5px 5px color-mix(in srgb, var(--theme), var(--back) 30%);

        &.expanded {
            translate: 0;
        }
    }

    .menu-item {
        background-color: color-mix(in srgb, var(--theme), var(--back) 10%);

        &:not(#menu-button) {
            padding: 0.7em;
        }

        nav &>span {
            display: block;
        }
    }

    #menu-button {
        display: revert;
    }

    #main-content {
        border-top-left-radius: 0;
    }
}